/* -------------------------------------------------- */
/* ----- RESET -------------------------------------- */
/* -------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------------------------- */
/* ----- Global style ------------------------------- */
/* -------------------------------------------------- */

html body {
	font-family: "pt-sans", sans-serif;
	font-size: 16px;
	line-height: 1.4em;

	background: #bdc3c7;
}

.container {
	width: 100%;
	max-width: 680px;
	margin: 0 auto;

	background: #3498db;
}

/* -------------------------------------------------- */
/* ----- Links -------------------------------------- */
/* -------------------------------------------------- */

a {
	color: #3498db;
}

a:hover,
a:focus {
	color: #2980b9;
}

/* -------------------------------------------------- */
/* ----- Main navigation ---------------------------- */
/* -------------------------------------------------- */

.nav--main {
	background: #ecf0f1;
	padding: 10px;
}

/* -------------------------------------------------- */
/* ----- Splash form -------------------------------- */
/* -------------------------------------------------- */

.splash {
	overflow: hidden;
}

.splash .heading {
	margin: 10px;
	font-size: 2em;
}

.splash .user-search {
	padding: 10px;
}

.splash .user-search .input--text {
	width: 100%;
	border: 0 none;
	padding: 5px 0;
	text-indent: 10px;
	font: inherit;
}

/* -------------------------------------------------- */
/* ----- Suggested users ---------------------------- */
/* -------------------------------------------------- */

.suggestions {
	margin: 10px;
}

.suggestion__link {
	color: black;
}

/* -------------------------------------------------- */
/* ----- User profile ------------------------------- */
/* -------------------------------------------------- */

.user__profile {
	overflow: hidden;
	text-align: center;
}

.user__profile .profile__item {
	display: block;
	clear: both;
	margin-bottom: 10px;
}

.user__profile .profile__item--name {
	margin-top: 10px;
	font-size: 1.4em;
}

.user__profile .profile__item--image {
	padding: 20px 0;
	margin-bottom: 0;
	background: #2980b9;
	font-size: 0em;
	height: 73px;
}

.user__profile .profile__item--image img {
	border: 2px solid #ecf0f1;
}


/* -------------------------------------------------- */
/* ----- Element/atom imports ----------------------- */
/* -------------------------------------------------- */

.tweet {
	overflow: hidden;
	padding: 10px;
	border-bottom: 1px solid #CCC;
}

.tweet__image {
	float: left;
	width: 48px;
	height: 48px;
	margin-right: 10px;
}

.tweet__content {
	margin-left: 58px;
}
/* -------------------------------------------------- */
/* ----- Block/molecule imports --------------------- */
/* -------------------------------------------------- */

.tweet-collection {
	background: #ecf0f1;
}