<h1 class="heading">Twitter user search</h1>

<form class="user-search">
	<label for="screen-name">Screen name</label>
	<input type="text" class="input input--text input--screen-name" name="screen_name" id="screen-name" placeholder="<%= placeholder %>" />

	<button type="submit">Go</button>
</form>

<h2 class="heading heading--sub">Some suggestions...</h2>

<ul class="suggestions">
	<li class="suggestion__item">
		<a class="suggestion__link" href="#/user/CoadyCodes">@CoadyCodes</a>
	</li>
	<li class="suggestion__item">
		<a class="suggestion__link" href="#/user/Burberry">@Burberry</a>
	</li>
	<li class="suggestion__item">
		<a class="suggestion__link" href="#/user/FascinatingPics">@FascinatingPics</a>
	</li>
</ul>