<nav class="nav nav--main">
	<a href="#/splash">&lt; Home</a>
</nav>
<div class="user__profile">
	<div class="profile__item--image profile__item">
		<img src="<%= profile_image_url %>" width="73" height="73" alt="" />
	</div>

	<h3 class="profile__item--name profile__item"><%= name %></h3>
	<p class="profile__item--description profile__item"><%= description %></p>

</div>

<div id="user__tweets"></div>